{
  "env": {
    "node": true
  },
  "rules": {
  },
  "globals": {
    "beforeAll": false,
    "afterAll": false,
    "beforeEach": false,
    "afterEach": false,
    "describe": false,
    "fdescribe": false,
    "xdescribe": false,
    "it": false,
    "xit": false,
    "fit": false,
    "pending": false,
    "expect": false,
    "useCaseDescribe": false,
    "fuseCaseDescribe": false,
    "xuseCaseDescribe": false,
    "scenarioIt": false,
    "fscenarioIt": false,
    "xscenarioIt": false,
    "describeUseCase": false,
    "xdescribeUseCase": false,
    "fdescribeUseCase": false,
    "describeScenario": false,
    "fdescribeScenario": false,
    "xdescribeScenario": false,
    "scenario": false,
    "useCase": false,
    "scenarioo": false,
    "scenariooDslConfig": false,
    "fail": false
  }
}
