{
  "env": {
    "node": true
  },
  "rules": {
    "curly": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-use-before-define": 0,
    "no-undef-init": 0
  },
  "globals": {
    "browser": false,
    "jasmine": false,
    "describe": false,
    "ddescribe": false,
    "it": false,
    "iit": false,
    "element": false,
    "by": false
  }
}
