{
  "env": {
    "node": true
  },

  "rules": {
    "curly": 2,
    "quotes": [2,"single"]
  },

  "globals": {
    "browser": false,
    "jasmine": false,
    "describe": false,
    "ddescribe": false,
    "it": false,
    "iit": false,
    "element": false,
    "by": false
  }
}
