{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "rules": {
    "curly": 2,
    "semi": 2,
    "eqeqeq": 2,
    "no-unused-expressions": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-console": 0
  },
  "globals": {
    "browser": false,
    "jasmine": false,
    "describe": false,
    "ddescribe": false,
    "it": false,
    "iit": false,
    "element": false,
    "by": false
  }
}
